html{
  background-color: bisque;
}
.noteList{
  max-width: 1200px;
  margin: 0 auto;
}
.noteList .noteList__form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noteList .noteList__form > input{
  margin-top: 20px;
  font-size: 24px;
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 20px;
}
.noteList .noteList__form > textarea{
  margin-top: 10px;
  font-size: 24px;
  width: 300px;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}
.noteList .noteList__form > button{
  margin-top: 20px;
  font-size: 24px;
  width: 300px;
}
.noteList .noteList__noteItem{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.noteList__noteItem-item{
  width: 300px;
  margin-top: 3rem;
  border: 1px solid black;
  padding: 10px 10px;
  position: relative;
  box-shadow: 8px 0px 11px 0px black;
}
.noteList__noteItem-item h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.noteList__noteItem-item p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.noteList__noteItem-item i{
  position: absolute;
  left: 93%;
  top: 2%;
  color: red;
  cursor: pointer;
}